/* stretch the page to the full width */
.md-grid {
    max-width: 95%;
}

/* customize tables to look like github */
th,
td {
    border: 1px solid var(--md-typeset-table-color);
    border-spacing: 0;
    border-bottom: none;
    border-left: none;
    border-top: none;
}

.md-typeset__table {
    line-height: 1;
}

.md-typeset__table table:not([class]) {
    font-size: .60rem;
    border-right: none;
}

.md-typeset__table table:not([class]) td,
.md-typeset__table table:not([class]) th {
    padding: 7px;
    }
    
    /* set a minimum width for table cells */
    .md-typeset table:not([class]) th {
        min-width: 3rem;
}

/* light mode alternating table bg colors */
.md-typeset__table tr:nth-child(2n) {
    background-color: #ccc0bb;
}

/* dark mode alternating table bg colors */
[data-md-color-scheme="slate"] .md-typeset__table tr:nth-child(2n) {
    background-color: hsla(var(--md-hue), 20%, 25%, 1)
}

/* END customize tables to look like github */

.md-typeset table {
    table-layout: auto !important;
    width: auto !important;
    min-width: 3.5rem;
}

/* Prevent wrapping so cells stay compact */
.md-typeset th,
.md-typeset td {
    padding: 0.7em 0.6em !important;
    /* Reduce padding too */
}
